body{
    height: 30000px;
}
/* header */
header{
    height: 50px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;
}


.hWrap{
    padding:0 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    line-height: 1;
}

h1 img{
    height: 36px;
}

.tumblbugBtn{
    background-color: #225ca3;
    color:#fff;
    text-align: center;
    font-size: 14px;
    padding:10px 20px;
    border-radius: 3px;
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}

.banner .book{
    width: 60%;
    position: absolute;
    top: 150px;
    left:20%;
    animation: floating1 1s linear forwards;
    opacity: 0;
    transform: translateY(40px);
    z-index: 12;
}

.banner .subTit{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    left: 0;
    font-size: 20px;
    opacity: 0;
    animation: fade 0.8s forwards linear;
    animation-delay: 0.3s;
    z-index: 11;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner h2{
    position: absolute;
    top: 50%;
    margin-top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    z-index: 13;
    
}

.banner h2 span{
    font-family: 'PyeongChangPeace-Light';
    display: block;
    font-size: 40px;
    animation: floating2 0.6s linear forwards;
    transform: translateY(20px);
    animation-delay: 1.2s;
    opacity: 0;
}

.banner h2 b{
    display: block;
    animation: floating2 0.6s linear forwards;
    transform: translateY(20px);
    animation-delay: 0.6s;
    opacity: 0;
}

.banner .cloud1{
    position: absolute;
    right: 0;
    width: 45%;
    bottom: 0;
    animation: slide1 linear forwards 0.4s;
    transform: translateX(80px);
}
.banner .cloud2{
    position: absolute;
    left: 0;
    width: 65%;
    top: 120px;
    animation: slide2 linear forwards 0.4s;
    transform: translateX(-80px);
    
}
.banner .ribon{
    width: 95%;
    position: absolute;
    top:50%;
    left: 2.5%;
    margin-top: 40px;
    transform: translateY(40px);
    opacity: 0;
    animation: floating1 1s linear forwards;
    animation-delay: 1.4s;
    z-index: 9;
}

.banner .line1{
    position: absolute;
    top:0;
    right: 0;
    width: 40%;
    animation: fade 1s linear forwards;
    opacity: 0;
}

.banner .line2{
    position: absolute;
    width: 40%;
    left: 0;
    bottom: 0;
    animation: fade 1s linear forwards;
    opacity: 0;
}

.banner .line3{
    position: absolute;
    width: 40%;
    left: 0;
    top: 50%;
    animation: fade 1s linear forwards;
    opacity: 0;

}
.banner .stars1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.banner .stars2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
@keyframes slide1{
    0%{transform: translateX(80px);}
    100%{transform: translateX(0);}
}

@keyframes slide2{
    0%{transform: translateX(-80px);}
    100%{transform: translateX(0);}
}
@keyframes floating1{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating2{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.s1{
    background-color: #38475b;
    color: #fff;
    padding-bottom: 70px;
    padding-top: 40px;
    position: relative;
    overflow: hidden;
}

.s1 .bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.s1 h3{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(../images/divide1.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
    font-size: 14px;

}

.s1 h3 strong{
    display: block;
    font-size: 5vw;
    margin-top: 5px;
    background-image: url(../images/divide1.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center 0px;
    padding-top: 25px;
}

.s1 h3 span{
    display: block;
    color: #c3b992;
}


.s1 .txtBox{
    width: 90%;
    margin: 40px auto 0;
}

.s1 .txtBox h4{
    background-color: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    word-break: keep-all;
}
.s1 .txtBox .content{
    margin-top: 10px;
    background-color: rgb(0,0,0,0.4);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 6px;
    font-family: pretendard;
    color: #eee;
    line-height: 1.6;
    word-break:keep-all;
    font-weight: 300;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.s1 .txtBox .item{
    margin-bottom: 30px;
    position: relative;
}
.s1 .txtBox .item p:nth-child(2){
    margin-top: 7px;
}
.s1 .txtBox .item strong{
    position: absolute;
    font-family: arial;
    font-weight: 900;
    font-size: 20px;
    top: -10px;
    left: 2px;
    color: #c3b992;
    z-index: 10;
}

.s1 .txtBox .item b{
    font-weight: 700;
}

.s2{
    position: relative;
    z-index: 10;
    background-color: #c3b992;
    padding-top: 40px;
}

.s2 .s2Star1{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.s2 .s2Star2{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.s2 .s2Star3{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    transform: scaleX(-1);
}
.s2 .s2Star4{
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
}
.s2 h3{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(../images/divide2.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
    font-size: 14px;
    position: relative;
    z-index: 10;

}
.s2 h3 span{
    display: block;
    font-size: 14px;
    color: #fff;
}

.s2 h3 strong{
    display: block;
    font-size: 5vw;
    margin-top: 5px;
    background-image: url(../images/divide2.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center 0px;
    padding-top: 25px;
    color:#38475b
}
.s2 .txtBox{
    width: 90%;
    margin: 40px auto 0;
    position: relative;
    box-sizing: border-box;
    color: #fff;
    font-family: pretendard;
    font-weight: 300;
    z-index: 10;
    padding: 20px;
    background-color: rgba(56, 71, 91, 0.744);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 5px;
    height: 80vh;
   
}

.s2 .item{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
}



.s2 .txtBox:after{
    content: '';
    width:calc(100% - 10px);
    height:calc((100% - 10px));
    position: absolute;
    top: 5px;
    left: 5px;
    border:2px solid #c3b992;
    border-radius: 5px;
    box-sizing: border-box;
}

.s2 .item .pic{
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.s2 .item .pic img{
    width: 100%;
    display: block;
}


.s2 .item p{
    word-break: keep-all;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.s3{
    position: relative;
    background-color: #38475b;
    padding: 15vw 0;
}


.s3 .frames{
    width: 20%;
    position: absolute;
}
.s3 .rightTop{
    top: 5vw;
    right: 5%;
}

.s3 .leftTop{
    transform: scaleX(-1);
    top: 5vw;
    left: 5%;
}

.s3 .rightBottom{
    bottom: 5vw;
    right: 5%;
    transform: scaleY(-1);
}

.s3 .leftBottom{
    bottom:5vw;
    left: 5%;
    transform: rotate(-180deg);
}

.s3 h3 span{
    display: block;
    text-align: center;
    color: #c3b992;
}

.s3 h3{
    font-size:5vw
}

.s3 h3 [data-aos=fade-up] {
    transform: translate3d(0,20px,0);
}

.s3 .con{
    width: 90%;
    margin: 40px auto 0;
}

.s3 .con .box{}
.s3 .con .box .txt{
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 25px;
    font-size: 18px;
}
.s3 .con .box .txt strong{
    font-family: 'GmarketSansMedium';
}
.s3 .con .box .pic{
    width: 80%;
    margin:0 auto;
}
.s3 .con .box .pic img{
    width: 100%;
}